.cardsmaindiv{
    height:12rem;
    width: 75%;
    position: relative;
    color: white;
    margin: 1rem;
    margin-left: 10rem;
}

.cardsmaindiv h1 {
    padding:  0rem 1rem;
}

.cardsmaindiv h3 {
    padding: 0rem 1rem;
}

.btn{
    height: 30px;
    width: 65px;
    border: 0.5px solid white;
    border-radius: 4px;
    background-color: transparent;
    position:absolute;
    right:0px;
    bottom: 0px;
    color: white;
    margin: 1rem;
}